@font-face {
    font-family: 'Li Shadhinata 2.0 Unicode';
    src: local('Li Shadhinata 2.0 Unicode'), local('LiShadhinata2.0Unicode'),
        url('LiShadhinata20Unicode.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matterhorn';
    src: local('Matterhorn Regular'), local('Matterhorn'),
        url('Matterhorn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MetaPlus';
    src: local('MetaPlus'),
        url('MetaPlus.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minion Pro';
    src: local('Minion Pro Regular'), local('MinionPro-Regular'),
        url('MinionPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Samsung Sans';
    src: local('Samsung Sans Regular'), local('SamsungSans-Regular'),
        url('SamsungSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ClanPro';
    src: local('ClanPro-News'),
        url('ClanPro-News.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Stone Sans';
    src: local('ITC Stone Sans'), local('StoneSans'),
        url('StoneSans.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SmartGothic';
    src: local('SmartGothic Medium'), local('SmartGothicM'),
        url('SmartGothicM.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SmartGothic';
    src: local('SmartGothic Bold'), local('SmartGothicB'),
        url('SmartGothicB.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

